# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled binaries
build/
build/*

# Dependency directories
node_modules/
node_modules/*

# Optional cache directory && files
.npm
.DS_Store
